/* Login.css */

/* Style the container to cover the full screen and add a background image */
.register-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./Assets/background\ -cis.png'); /* Ensure this image is in the correct path */
    background-size: cover;  /* Ensure the background image covers the entire screen */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  /* Logo container - positions logo at the top left */
.logo-container {
    position: absolute;
    padding-left: 20px;
    top: 10px;  /* Adjust as needed */
    left: 10px;  /* Adjust as needed */
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius:10px;
  }
  
  /* Game title next to the logo */
  .banana-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(237, 14, 32);  
    margin-right: 10px;
  }
  
  /* Style for the form box */
  .form-box {
    background-image: url('./Assets/background\ -cis.png'); 
    padding: 40px;  /* Larger padding */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 800px;  /* Increased width */
    height: 600px;
    max-width: 100%;
    text-align: center;  /* Center align the form elements */
    justify-content: center;
    justify-items: center;
  }

  .input-container{
    background-color: rgba(255, 255, 255, 0.6);  /* White background with 80% opacity */
    padding: 40px;  /* Larger padding */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 350px;  /* Increased width */
    height: 450px;
    max-width: 100%;
    text-align: center;
  }
  
  /* Input fields */
  input {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  /* Buttons */
  button {
    width: 100%;
    padding: 15px;
    background-color: #2d88d8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
  }
  
  button[type="button"] {
    background-color: #2d88d8;
  }
  button:hover{
    background-color: #5B7c99;
  }
  
  /* Error message styling */
  .error {
    color: red;
    margin-bottom: 15px;
  }
  
  h1{
    font-size: 30px;
  }